#profile-wrapper.hide(data-section=urlBuilder.for('settings.profile'))
  .profile-settings
    .heading
      .circle
        i.icon-user
      h1= t('settings.profile')
    .form
      ul.form-messages
      .form-group
        label= t('settings.full-name')
        #{user.fullName}
      .form-group
        label= t('signup.email')
        #{user.email}
      .form-group.profile-picture
        label= t('settings.profile-picture')
        .profile-picture-form
          .image-container
            img(src=user.profilePicture(), width=65)
